<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>User Form</h3>
    <form action="user-save" method="post" th:object="${userDTO}">
      <label for="username">User Name: </label>
      <input type="text" name="username" id="username" th:field="*{username}">
        <br>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>
        <br>
      <label for="email">Email: </label>
      <input type="email" name="email" id="email" th:field="*{email}">
      <br>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
        <br>
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" th:field="*{password}">
      <br>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red;"></div>
        <br>
      <button type="submit">Submit</button>
    </form>
</body>
</html>